{{ form_start(form, {'attr': {'action': path('app_product_searchbarbyean')}}) }}
	<div class="input-group mb-3">
		{{ form_widget(form.ean, { 'attr': {'placeholder': 'EAN'} }) }}
		<div class="input-group-append">
			{{ form_row(form.search) }}
		</div>
	</div>
{{ form_end(form) }}