<footer class="footer mt-auto py-3">
	<div class="container">
		<span class="text-muted">Copyright &copy <span id="year"></span> Application créée par Aurélien DREY et Baptiste HEIM</span>
	</div>
</footer>

<script type="text/javascript">
	var year = new Date();
	document.getElementById('year').textContent = year.getFullYear().toString();
</script>